html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
}

textarea,
input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    margin: 0;
}

button {
    color: #3992ff;
    font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

form[action$="destroy"] button {
    color: #f44250;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
}

#detail {
    flex: 1;
    padding: 10px 4rem;
    width: 100%;
}

#detail.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@keyframes blink-bg {
    0% {
        background-color: red;
    }
    100% {
        background-color: orange;
    }
}

@keyframes blink-score {
    0% {
        background-color: green;
    }
    100% {
        background-color: orange;
    }
}

.blink-score {
    animation: blink-score 0.2s alternate 10;
}

/* The hand pointer image */
.hand-pointer {
    position: absolute;
    top: -50px; /* Position above the button */
    right: -60px; /* Adjust for desired position */
    width: 50px; /* Adjust size as needed */
    transform: rotate(20deg); /* Rotate the hand image if needed */
    animation: point-to-button 1.5s infinite ease-in-out; /* Apply animation */
}

/* Keyframes for pointing animation */
@keyframes left-point-to-button {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30px);
    }
}

@keyframes right-point-to-button {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}
